examples/datasets/MNIST_10_dataset_blueprint.csv
examples/results/central_on_local.csv
examples/results/MNIST_FEDOPT_ADAGARD.csv
examples/results/node_orchestrator_iteration_0.pt
examples/results/node_orchestrator_iteration_1.pt
examples/results/node_orchestrator_iteration_2.pt
examples/results/node_orchestrator_iteration_3.pt
examples/results/node_orchestrator_iteration_4.pt
examples/results/node_orchestrator_iteration_5.pt
examples/results/node_orchestrator_iteration_6.pt
examples/results/node_orchestrator_iteration_7.pt
examples/results/node_orchestrator_iteration_8.pt
examples/results/node_orchestrator_iteration_9.pt
examples/results/partial_psi.csv
examples/results/partial_shap.csv
examples/results/psi.csv
examples/results/shap.csv
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_0.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_1.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_2.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_3.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_4.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_5.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_6.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_7.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_8.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_9.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_10.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_11.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_12.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_13.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_14.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_15.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_16.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_17.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_18.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_19.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_20.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_21.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_22.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_23.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_24.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_25.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_26.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_27.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_28.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_29.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_30.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_31.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_32.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_33.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_34.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_35.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_36.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_37.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_38.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_39.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_40.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_41.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_42.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_43.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_44.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_45.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_46.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_47.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_48.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_49.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_50.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_51.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_52.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_53.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_54.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_55.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_56.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_57.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_58.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_59.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_60.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_61.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_62.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_63.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_64.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_65.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_66.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_67.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_68.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_69.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_70.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_71.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_72.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_73.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_74.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_75.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_76.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_77.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_78.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_79.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_80.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_81.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_82.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_83.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_84.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_85.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_86.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_87.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_88.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_89.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_90.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_91.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_92.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_93.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_94.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_95.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_96.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_97.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_98.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_99.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_100.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_101.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_102.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_103.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_104.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_105.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_106.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_107.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_108.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_109.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_110.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_111.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_112.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_113.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_114.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_115.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_116.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_117.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_118.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_119.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_120.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_121.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_122.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_123.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_124.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_125.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_126.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_127.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_128.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_129.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_130.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_131.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_132.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_133.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_134.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_135.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_136.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_137.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_138.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_139.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_140.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_141.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_142.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_143.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_144.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_145.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_146.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_147.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_148.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_149.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_150.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_151.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_152.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_153.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_154.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_155.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_156.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_157.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_158.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_159.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_160.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_161.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_162.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_163.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_164.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_165.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_166.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_167.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_168.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_169.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_170.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_171.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_172.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_173.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_174.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_175.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_176.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_177.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_178.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_179.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_180.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_181.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_182.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_183.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_184.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_185.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_186.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_187.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_188.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_189.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_190.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_191.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_192.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_193.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_194.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_195.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_196.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_197.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_198.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_199.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_200.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_201.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_202.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_203.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_204.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_205.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_206.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_207.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_208.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_209.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_210.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_211.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_212.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_213.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_214.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_215.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_216.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_217.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_218.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_219.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_220.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_221.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_222.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_223.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_224.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_225.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_226.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_227.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_228.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_229.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_230.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_231.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_232.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_233.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_234.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_235.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_236.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_237.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_238.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_239.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_240.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_241.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_242.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_243.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_244.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_245.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_246.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_247.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_248.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_249.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_250.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_251.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_252.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_253.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_254.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_255.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_256.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_257.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_258.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_259.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_260.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_261.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_262.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_263.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_264.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_265.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_266.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_267.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_268.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_269.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_270.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_271.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_272.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_273.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_274.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_275.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_276.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_277.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_278.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_279.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_280.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_281.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_282.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_283.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_284.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_285.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_286.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_287.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_288.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_289.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_290.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_291.pt
tests/test_runs/basic_fedopt/models/node_orchestrator_iteration_292.pt
tests/test_runs/basic_fedopt/sensors/gpu_sensor_highest.csv
tests/test_runs/basic_fedopt/sensors/gpu_sensor.csv
tests/test_runs/fed_adagard/test1.csv
tests/test_runs/fed_adagard/test3.csv
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_0.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_1.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_2.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_3.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_4.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_5.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_6.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_7.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_8.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_9.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_10.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_11.pt
tests/test_runs/fed_adagard/models/node_orchestrator_iteration_12.pt
tests/test_runs/fed_adagard/sensors/gpu_sensor_highest.csv
tests/test_runs/fed_adagard/sensors/gpu_sensor.csv
tests/test_runs/basic_fedopt/test3.csv
tests/test_runs/basic_fedopt/test1.csv
